    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-double-hexagon-of-small-triangles:before { content: "\f100"; }
.flaticon-dragon-made-of-small-triangles:before { content: "\f101"; }
.flaticon-halloween-polygonal-face:before { content: "\f102"; }
.flaticon-heart-made-of-small-triangular-shapes:before { content: "\f103"; }
.flaticon-heart-pendant-of-small-triangles:before { content: "\f104"; }
.flaticon-lightning-bolt-polygonal-shape-of-small-triangles:before { content: "\f105"; }
.flaticon-multiple-triangles-inside-hexagon:before { content: "\f106"; }
.flaticon-multiple-triangles-triangle:before { content: "\f107"; }
.flaticon-ornamental-rotating-polygonal-shape-with-three-lines-around-an-hexagon-of-small-triangles:before { content: "\f108"; }
.flaticon-pendant-of-small-polygonal-shape:before { content: "\f109"; }
.flaticon-polygonal-aliens:before { content: "\f10a"; }
.flaticon-polygonal-apple-of-small-triangles:before { content: "\f10b"; }
.flaticon-polygonal-arrow-up:before { content: "\f10c"; }
.flaticon-polygonal-ascendant-signal:before { content: "\f10d"; }
.flaticon-polygonal-bat-shape:before { content: "\f10e"; }
.flaticon-polygonal-bird:before { content: "\f10f"; }
.flaticon-polygonal-bird-1:before { content: "\f110"; }
.flaticon-polygonal-bird-of-small-triangles:before { content: "\f111"; }
.flaticon-polygonal-boat-of-small-triangles:before { content: "\f112"; }
.flaticon-polygonal-bottle:before { content: "\f113"; }
.flaticon-polygonal-bowling-bulk-pin:before { content: "\f114"; }
.flaticon-polygonal-box:before { content: "\f115"; }
.flaticon-polygonal-buildings-of-small-triangles:before { content: "\f116"; }
.flaticon-polygonal-butterfly:before { content: "\f117"; }
.flaticon-polygonal-cat:before { content: "\f118"; }
.flaticon-polygonal-christmas-tree:before { content: "\f119"; }
.flaticon-polygonal-coffee-cup:before { content: "\f11a"; }
.flaticon-polygonal-crab:before { content: "\f11b"; }
.flaticon-polygonal-crocodile:before { content: "\f11c"; }
.flaticon-polygonal-cross-of-small-triangles:before { content: "\f11d"; }
.flaticon-polygonal-diamond-shape-of-small-triangles:before { content: "\f11e"; }
.flaticon-polygonal-dog:before { content: "\f11f"; }
.flaticon-polygonal-elephant:before { content: "\f120"; }
.flaticon-polygonal-fish-shape-of-small-triangles:before { content: "\f121"; }
.flaticon-polygonal-giraffe:before { content: "\f122"; }
.flaticon-polygonal-halloween-pumpkin-face-of-small-triangles:before { content: "\f123"; }
.flaticon-polygonal-hexagon:before { content: "\f124"; }
.flaticon-polygonal-hexagonal-ornament-of-small-triangles-forming-a-six-points-star-and-an-hexagon:before { content: "\f125"; }
.flaticon-polygonal-house-or-home-building:before { content: "\f126"; }
.flaticon-polygonal-human-figure-of-small-triangles:before { content: "\f127"; }
.flaticon-polygonal-jet-aircraft:before { content: "\f128"; }
.flaticon-polygonal-jewel:before { content: "\f129"; }
.flaticon-polygonal-kite:before { content: "\f12a"; }
.flaticon-polygonal-letter-z-of-small-triangles:before { content: "\f12b"; }
.flaticon-polygonal-martini-glass-shape:before { content: "\f12c"; }
.flaticon-polygonal-megaphone:before { content: "\f12d"; }
.flaticon-polygonal-mountains:before { content: "\f12e"; }
.flaticon-polygonal-multiple-stars:before { content: "\f12f"; }
.flaticon-polygonal-number-eight:before { content: "\f130"; }
.flaticon-polygonal-ornament:before { content: "\f131"; }
.flaticon-polygonal-ornament-1:before { content: "\f132"; }
.flaticon-polygonal-ornament-of-hexagons-and-triangles:before { content: "\f133"; }
.flaticon-polygonal-ornament-of-small-triangles:before { content: "\f134"; }
.flaticon-polygonal-ornament-of-small-triangles-1:before { content: "\f135"; }
.flaticon-polygonal-ornament-of-small-triangles-in-star-and-hexagon-shapes:before { content: "\f136"; }
.flaticon-polygonal-ornament-of-triangles:before { content: "\f137"; }
.flaticon-polygonal-ornamental-shape:before { content: "\f138"; }
.flaticon-polygonal-ornamental-shape-of-triangles:before { content: "\f139"; }
.flaticon-polygonal-pants-of-small-triangles:before { content: "\f13a"; }
.flaticon-polygonal-pendant:before { content: "\f13b"; }
.flaticon-polygonal-pistol:before { content: "\f13c"; }
.flaticon-polygonal-pyramid-of-triangles:before { content: "\f13d"; }
.flaticon-polygonal-radiation-symbol:before { content: "\f13e"; }
.flaticon-polygonal-rat-face:before { content: "\f13f"; }
.flaticon-polygonal-rhomb:before { content: "\f140"; }
.flaticon-polygonal-scorpion:before { content: "\f141"; }
.flaticon-polygonal-sock:before { content: "\f142"; }
.flaticon-polygonal-spider-shape:before { content: "\f143"; }
.flaticon-polygonal-star-of-six-points:before { content: "\f144"; }
.flaticon-polygonal-straight-yin-yang-symbol:before { content: "\f145"; }
.flaticon-polygonal-symmetric-ornament-like-butterfly-wings:before { content: "\f146"; }
.flaticon-polygonal-symmetrical-ornament-of-small-triangles-lines:before { content: "\f147"; }
.flaticon-polygonal-symmetrical-shape-of-small-triangles:before { content: "\f148"; }
.flaticon-polygonal-synergy-shapes:before { content: "\f149"; }
.flaticon-polygonal-table-lamp:before { content: "\f14a"; }
.flaticon-polygonal-transformer-face:before { content: "\f14b"; }
.flaticon-polygonal-triangles-ball:before { content: "\f14c"; }
.flaticon-polygonal-triangles-guitar:before { content: "\f14d"; }
.flaticon-polygonal-triangular-recycle-symbol:before { content: "\f14e"; }
.flaticon-polygonal-windmill:before { content: "\f14f"; }
.flaticon-polygonal-wings:before { content: "\f150"; }
.flaticon-polygonal-wolf-head:before { content: "\f151"; }
.flaticon-polygonal-woman-dress-detail-of-small-triangles:before { content: "\f152"; }
.flaticon-side-to-side-of-a-cube:before { content: "\f153"; }
.flaticon-star-in-hexagon-of-small-triangles:before { content: "\f154"; }
.flaticon-star-of-six-points-formed-by-triangles-with-and-hexagon-center:before { content: "\f155"; }
.flaticon-star-of-six-small-triangles:before { content: "\f156"; }
.flaticon-star-of-triangles:before { content: "\f157"; }
.flaticon-star-ornament-of-small-triangles-outline:before { content: "\f158"; }
.flaticon-star-ornament-of-triangles:before { content: "\f159"; }
.flaticon-synergy:before { content: "\f15a"; }
.flaticon-triangle-inside-a-square-of-small-triangles:before { content: "\f15b"; }
.flaticon-triangle-inside-hexagon-shape-outline-of-small-triangles-line:before { content: "\f15c"; }
.flaticon-triangle-of-triangles:before { content: "\f15d"; }
.flaticon-triangles-couple-of-two-different-sizes-in-black-and-white:before { content: "\f15e"; }
.flaticon-triangular-shapes-forming-waves:before { content: "\f15f"; }
.flaticon-triple-triangle:before { content: "\f160"; }
.flaticon-witch-hat-of-triangles:before { content: "\f161"; }
    
    $font-Flaticon-double-hexagon-of-small-triangles: "\f100";
    $font-Flaticon-dragon-made-of-small-triangles: "\f101";
    $font-Flaticon-halloween-polygonal-face: "\f102";
    $font-Flaticon-heart-made-of-small-triangular-shapes: "\f103";
    $font-Flaticon-heart-pendant-of-small-triangles: "\f104";
    $font-Flaticon-lightning-bolt-polygonal-shape-of-small-triangles: "\f105";
    $font-Flaticon-multiple-triangles-inside-hexagon: "\f106";
    $font-Flaticon-multiple-triangles-triangle: "\f107";
    $font-Flaticon-ornamental-rotating-polygonal-shape-with-three-lines-around-an-hexagon-of-small-triangles: "\f108";
    $font-Flaticon-pendant-of-small-polygonal-shape: "\f109";
    $font-Flaticon-polygonal-aliens: "\f10a";
    $font-Flaticon-polygonal-apple-of-small-triangles: "\f10b";
    $font-Flaticon-polygonal-arrow-up: "\f10c";
    $font-Flaticon-polygonal-ascendant-signal: "\f10d";
    $font-Flaticon-polygonal-bat-shape: "\f10e";
    $font-Flaticon-polygonal-bird: "\f10f";
    $font-Flaticon-polygonal-bird-1: "\f110";
    $font-Flaticon-polygonal-bird-of-small-triangles: "\f111";
    $font-Flaticon-polygonal-boat-of-small-triangles: "\f112";
    $font-Flaticon-polygonal-bottle: "\f113";
    $font-Flaticon-polygonal-bowling-bulk-pin: "\f114";
    $font-Flaticon-polygonal-box: "\f115";
    $font-Flaticon-polygonal-buildings-of-small-triangles: "\f116";
    $font-Flaticon-polygonal-butterfly: "\f117";
    $font-Flaticon-polygonal-cat: "\f118";
    $font-Flaticon-polygonal-christmas-tree: "\f119";
    $font-Flaticon-polygonal-coffee-cup: "\f11a";
    $font-Flaticon-polygonal-crab: "\f11b";
    $font-Flaticon-polygonal-crocodile: "\f11c";
    $font-Flaticon-polygonal-cross-of-small-triangles: "\f11d";
    $font-Flaticon-polygonal-diamond-shape-of-small-triangles: "\f11e";
    $font-Flaticon-polygonal-dog: "\f11f";
    $font-Flaticon-polygonal-elephant: "\f120";
    $font-Flaticon-polygonal-fish-shape-of-small-triangles: "\f121";
    $font-Flaticon-polygonal-giraffe: "\f122";
    $font-Flaticon-polygonal-halloween-pumpkin-face-of-small-triangles: "\f123";
    $font-Flaticon-polygonal-hexagon: "\f124";
    $font-Flaticon-polygonal-hexagonal-ornament-of-small-triangles-forming-a-six-points-star-and-an-hexagon: "\f125";
    $font-Flaticon-polygonal-house-or-home-building: "\f126";
    $font-Flaticon-polygonal-human-figure-of-small-triangles: "\f127";
    $font-Flaticon-polygonal-jet-aircraft: "\f128";
    $font-Flaticon-polygonal-jewel: "\f129";
    $font-Flaticon-polygonal-kite: "\f12a";
    $font-Flaticon-polygonal-letter-z-of-small-triangles: "\f12b";
    $font-Flaticon-polygonal-martini-glass-shape: "\f12c";
    $font-Flaticon-polygonal-megaphone: "\f12d";
    $font-Flaticon-polygonal-mountains: "\f12e";
    $font-Flaticon-polygonal-multiple-stars: "\f12f";
    $font-Flaticon-polygonal-number-eight: "\f130";
    $font-Flaticon-polygonal-ornament: "\f131";
    $font-Flaticon-polygonal-ornament-1: "\f132";
    $font-Flaticon-polygonal-ornament-of-hexagons-and-triangles: "\f133";
    $font-Flaticon-polygonal-ornament-of-small-triangles: "\f134";
    $font-Flaticon-polygonal-ornament-of-small-triangles-1: "\f135";
    $font-Flaticon-polygonal-ornament-of-small-triangles-in-star-and-hexagon-shapes: "\f136";
    $font-Flaticon-polygonal-ornament-of-triangles: "\f137";
    $font-Flaticon-polygonal-ornamental-shape: "\f138";
    $font-Flaticon-polygonal-ornamental-shape-of-triangles: "\f139";
    $font-Flaticon-polygonal-pants-of-small-triangles: "\f13a";
    $font-Flaticon-polygonal-pendant: "\f13b";
    $font-Flaticon-polygonal-pistol: "\f13c";
    $font-Flaticon-polygonal-pyramid-of-triangles: "\f13d";
    $font-Flaticon-polygonal-radiation-symbol: "\f13e";
    $font-Flaticon-polygonal-rat-face: "\f13f";
    $font-Flaticon-polygonal-rhomb: "\f140";
    $font-Flaticon-polygonal-scorpion: "\f141";
    $font-Flaticon-polygonal-sock: "\f142";
    $font-Flaticon-polygonal-spider-shape: "\f143";
    $font-Flaticon-polygonal-star-of-six-points: "\f144";
    $font-Flaticon-polygonal-straight-yin-yang-symbol: "\f145";
    $font-Flaticon-polygonal-symmetric-ornament-like-butterfly-wings: "\f146";
    $font-Flaticon-polygonal-symmetrical-ornament-of-small-triangles-lines: "\f147";
    $font-Flaticon-polygonal-symmetrical-shape-of-small-triangles: "\f148";
    $font-Flaticon-polygonal-synergy-shapes: "\f149";
    $font-Flaticon-polygonal-table-lamp: "\f14a";
    $font-Flaticon-polygonal-transformer-face: "\f14b";
    $font-Flaticon-polygonal-triangles-ball: "\f14c";
    $font-Flaticon-polygonal-triangles-guitar: "\f14d";
    $font-Flaticon-polygonal-triangular-recycle-symbol: "\f14e";
    $font-Flaticon-polygonal-windmill: "\f14f";
    $font-Flaticon-polygonal-wings: "\f150";
    $font-Flaticon-polygonal-wolf-head: "\f151";
    $font-Flaticon-polygonal-woman-dress-detail-of-small-triangles: "\f152";
    $font-Flaticon-side-to-side-of-a-cube: "\f153";
    $font-Flaticon-star-in-hexagon-of-small-triangles: "\f154";
    $font-Flaticon-star-of-six-points-formed-by-triangles-with-and-hexagon-center: "\f155";
    $font-Flaticon-star-of-six-small-triangles: "\f156";
    $font-Flaticon-star-of-triangles: "\f157";
    $font-Flaticon-star-ornament-of-small-triangles-outline: "\f158";
    $font-Flaticon-star-ornament-of-triangles: "\f159";
    $font-Flaticon-synergy: "\f15a";
    $font-Flaticon-triangle-inside-a-square-of-small-triangles: "\f15b";
    $font-Flaticon-triangle-inside-hexagon-shape-outline-of-small-triangles-line: "\f15c";
    $font-Flaticon-triangle-of-triangles: "\f15d";
    $font-Flaticon-triangles-couple-of-two-different-sizes-in-black-and-white: "\f15e";
    $font-Flaticon-triangular-shapes-forming-waves: "\f15f";
    $font-Flaticon-triple-triangle: "\f160";
    $font-Flaticon-witch-hat-of-triangles: "\f161";